.welcome{
    background-color: color($colors, primary);
    color: color($colors, light);
    font: 1em nato;
    text-align: center;
     
}

.loginPage{
    font: 1em roboto;
}

.signupPage{
    font: 1em roboto;
}
