page-questionfull {

      .body{
        background-color: #eeeeee;
      }


    .no-padding{
        padding: 0px !important;
        margin: 0px !important;
    }

    .sizeless{
        width: 2px;
        height: 2px;
    }

  
}
   